@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*, body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

/* utilities */
.ml-60 {
    margin-left: 60px;
}
.ml-30 {
    margin-left: 30px;
}

.home1 {
    margin-top: -70px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
    font-family: 'lato', sans-serif;
    color: aliceblue;
}
.home1 h1 {
    font-size: 140px;
    margin-top: 50px;
    margin-left: 100px;
    font-weight: 900;
}
.home1 p{
    margin-left: 140px;
    font-size: 40px;
    font-weight: 100 !important;
}

.home2 .col-md-6{
    padding: 4%;
}
.home2 h2{
    font-size: 50px;
    color: #250042;
}  
.home2 p{
    font-size: 20px;
    text-align: center;
}
.home2 .card p{
    font-size: 13px;
    text-align: justify;
}

.home3 h2, .about2 h2, .home4 h2, .about4 h2{
    font-size: 50px;
    color: #250042;
} 
.home3 .card:hover {
    box-shadow: 15px 15px 15px rgba(82, 0, 0, 0.09), -15px -15px 15px rgba(80, 0, 0, 0.09);
    zoom: 103%;
}

.about1 h5 {
    margin-top: 180px;
    font-size: 30px;
    color: #A2C2EB;
}
.about1 h2{
    font-size: 65px;
    color: #34507D;
}
.about1 p{
    font-size: 15px;
    color: #250042;
    text-align: justify;
}